@import "./reset";
@import "./fonts/googleFonts";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/light";
@import "./themes/colorful";

html,
body {
  color: var(--secondary-color);
  font: var(--font-m);
}

.app {
  min-height: 100vh;

  background-color: var(--primary-bg-color);
}

.page-content {
  display: flex;

  max-height: calc(100vh - var(--navbar-height));

  overflow: hidden;
}

.page {
  flex-grow: 1;
}
