@import "./reset";
@import "./fonts/googleFonts";
@import "./variables/global";
@import "./themes/dark";
@import "./themes/light";
@import "./themes/colorful";

body {
  color: var(--secondary-color);
  font: var(--font-m);
}

.app {
  min-height: 100vh;

  background-color: var(--primary-bg-color);
}

.page-content {
  display: flex;
}

.page {
  flex-grow: 1;
}
