@import './reset.scss';
@import './fonts/googleFonts.scss';
@import './variables/global.scss';
@import './themes/dark.scss';
@import './themes/light.scss';

.app {
  font: var(--font-m);

  background-color: var(--primary-bg-color);
  color: var(--secondary-color);

  min-height: 100vh;
}

.page-content {
  display: flex;
}

.page {
  flex-grow: 1;
}
