.link {
  display: flex;
  align-items: center;

  padding: 5px 15px;

  column-gap: 10px;

  cursor: pointer;
}

.link.highlited {
  outline: 1px solid var(--action-color);
}

.link.collapsed {
  flex-direction: column;
  row-gap: 5px;

  padding: 5px;
}

.link.collapsed > .linkText {
  font: var(--font-s);
}

.linkIcon.fill {
  fill: var(--action-color);
}

.linkIcon.stroke {
  stroke: var(--action-color);
}
