.Sidebar {
  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  padding: 5px;

  background-color: var(--secondary-bg-color);
  transition: width 0.2s ease-out;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.collapsed {
  width: var(--sidebar-width-collapsed);
}

.togglers {
  width: 100%;
  margin-top: auto;

  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px 20px;
}
