.Sidebar {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  width: var(--sidebar-width);
  height: calc(100vh - var(--navbar-height));
  padding: 5px;

  background-color: var(--secondary-bg-color);

  transition: width 0.2s ease-out;
}

.links {
  display: flex;
  flex-direction: column;
  row-gap: 15px;

  width: fit-content;
  padding: 10px 0;
}

.link {
  display: flex;
  align-items: center;

  column-gap: 10px;
}

.linkIcon.fill {
  fill: var(--action-color);
}

.linkIcon.stroke {
  stroke: var(--action-color);
}

.togglers {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 20px;
  justify-content: center;

  width: 100%;
  margin-top: auto;
}

.collapseButton {
  position: absolute;
  bottom: 5px;
  right: 0;

  transform: translateX(calc(100% + 5px));
}

.collapseIcon {
  width: 100%;
  height: 100%;

  fill: var(--primary-color);

  transition: transform 0.2s ease-out;
}

.collapseIcon.rotate {
  transform: rotateY(180deg);
}

.Sidebar.collapsed {
  width: var(--sidebar-width-collapsed);
}

.Sidebar.collapsed .links {
  align-self: center;

  column-gap: none;
}

.Sidebar.collapsed .linkText {
  display: none;
}
