.ArticleHeader {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
}

.ArticleHeaderImage {
  width: auto;
  height: var(--article-header-image-height);
  aspect-ratio: 1 / 1;

  border-radius: 50%;

  object-fit: cover;
  object-position: center;
}

.ArticleHeaderInfo {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  align-self: center;

  list-style: none;
}

.ArticleHeaderViews,
.ArticleHeaderDate {
  display: flex;
  gap: 5px;
  align-items: center;
}

.ArticleHeaderIcon {
  width: 18px;
  height: 18px;
  aspect-ratio: 1 / 1;

  // stroke: var(--secondary-color);
}
