.ArticleCard {
  background-color: transparent;

  transition-property: background-color;
  transition-timing-function: ease-in;
  transition-duration: 0.2s;
}

// .ArticleCardCard:hover {
//   background-color: var(--secondary-bg-color);

//   cursor: pointer;
// }

.ArticleCardContent {
  position: relative;

  display: grid;

  width: 100%;
}

.ArticleCardContent.Grid {
  grid-template-rows: max-content 1fr;
  row-gap: 20px;

  height: 100%;
  padding: 20px;
}

.ArticleCardContent.List {
  grid-template-rows: max-content;
  grid-template-columns: 1fr;
  row-gap: 20px;

  padding: 20px 40px;

  column-gap: 40px;
}

.ArticleCardContent.Grid > .ArticleCardHead {
  display: grid;
  grid-template-columns: 1fr min-content;
}

.ArticleCardContent.Grid > .ArticleCardBody {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.ArticleCardContent.List > .ArticleCardHead {
  grid-row: 1 / 2;
  grid-column: 1 / -1;

  display: grid;
  grid-template-columns: 1fr max-content;
}

.ArticleCardContent.List > .ArticleCardBody {
  grid-row: 2 / 3;
  grid-column: 1 / 2;

  display: grid;
  grid-auto-rows: max-content;
  grid-auto-flow: row;
  row-gap: 10px;
}

.ArticleCardImage {
  object-fit: cover;
  object-position: center;
}

.ArticleCardContent.List .ArticleCardImage {
  width: auto;
  height: 250px;
}

.ArticleCardButton {
  grid-column: 1 / -1;

  z-index: 2;

  margin: 0 auto;
}

.navigate {
  cursor: pointer;
}
