.ArticleTextBlock {
  display: grid;
  grid-template-rows: max-content 1fr;
  row-gap: 1rem;
}

.Title {
  text-indent: 3rem;
}

.Paragraphs {
  display: flex;
  flex-direction: column;
  row-gap: 0.5rem;

  width: 100%;
  max-width: 75rem;
}

.Paragraph {
  text-indent: 3rem;
}
