.Input {
  padding: 5px 15px;

  color: var(--primary-color);

  border: 1px solid var(--primary-color);
  border-radius: 0;

  background-color: var(--secondary-bg-color);

  box-shadow: none;
}

.Input:focus {
  border: 1px solid var(--action-color);

  outline: 1px solid var(--action-color);
}

.Input:read-only {
  border: 1px solid var(--primary-color);

  outline: none;
}

.inputWrapper {
  transition: opacity 0.2s ease-in;
}

.readonly {
  opacity: 0.5;
}
