.ProfilePageValidationErrors {
  display: flex;
  flex-direction: column;
  gap: 3px;
  justify-content: center;
  align-items: center;

  margin: 15px;
  padding: 15px;

  border: 1px solid var(--primary-error-color);
}
