.ui_theme_colorful {
  --primary-bg-color: #edf2ef;
  --secondary-bg-color: #cee8bb;
  --primary-color: #3d2b3d;
  --secondary-color: #504d3f;
  --action-color: #2e933c;
  --primary-error-color: #cc2936;
  --secondary-error-color: #d13c48;
  --warning-color: #d13c48;
  --inverted-action-color: #0808e3;
  --modal-overlay-color: #efede620;
  --shadow-color-15a: #4d484526;
  --shadow-color-20a: #4d484533;
  --skeleton-color: #d9d9d9;
}
