.app.light {
  --primary-bg-color: #efede6;
  --secondary-bg-color: #e7e4da;
  --primary-color: #1d1f20;
  --secondary-color: #36393b;
  --action-color: #0808e3;
  --inverted-action-color: #abcaff;
}
