.ui_theme_light {
  --primary-bg-color: #efede6;
  --secondary-bg-color: #f7f6f3;
  --primary-color: #1d1f20;
  --secondary-color: #36393b;
  --action-color: #0808e3;
  --inverted-action-color: #abcaff;
  --modal-overlay-color: #36393b40;
}
