.ArticleCodeBlock {
  position: relative;

  padding: 30px;

  background-color: var(--secondary-bg-color);

  outline: 1px solid var(--action-color);
}

.ArticleCodeBlock * {
  font-family: monospace;
}

.CopyButton {
  position: absolute;
  top: 15px;
  right: 15px;

  opacity: 0.3;

  transition: opacity 0.2s ease-in;
}

.CopyButton:hover {
  opacity: 1;
}

.ButtonIcon {
  width: 100%;
  height: 100%;

  fill: var(--action-color);
}
