.ArticlesList {
  padding: 15px 0;

  list-style: none;
}

.ArticlesList.grid {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-items: left;
}

.ArticlesList.grid > .ArticlesListItem {
  width: 100%;
}

.ArticlesList.list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
