.ArticlesList {
  padding: 15px 0;

  list-style: none;
}

.ArticlesList.Grid {
  display: grid;
  grid-auto-rows: max-content;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 20px;
  justify-items: left;
}

.ArticlesList.Grid > .ArticlesListItem {
  width: 100%;
}

.ArticlesList.Grid .ArticlePreview {
  height: 100%;
}

.ArticlesList.List {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}
